.header-list-menu{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color:#111111;
    margin-top: 25px;
    color: white;
    text-align: center;
    padding:5px 0 0 0;
    border: 1px solid white ;
    z-index: 10000;
    .header-list-name{
        font-size: 20px;
        font-weight: 600;
        margin: 5px 0 10px 0;
    }
    .header-menu-item{
        width: 100%;
        display: flex;
       padding: 10px 20px;
        align-items: center;
        cursor: pointer;
    
        .header-menu-item-icon{
            font-size: 22px;
            margin-right: 10px;
        }
    }
    .header-menu-item:hover{
        background-color: #848181;
    
    }
}
.header-list-menu::after{
    content: "";
    height: 25px;
    width: 100px;
    background-color: transparent;
    position: absolute;
    top: -25px;
    left: 0;
}