@media(min-width: 768px)  { 
    .login-body{
        height: 100vh;
        
    
        .login-body-screen{
            background-image: url('../../assets/background/banner.jpg') ;
            display: flex;
            color: white ;
            text-align: center;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            height: 100%;
            overflow: hidden;
            .login-block{
                width: 70%;
                display: flex;
               margin: auto ;
                .login-content{
                    width: 70%;
                    height: 555px;
                    background-image: url('../../assets/background/content.jpg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                   
    
                }
                .login-container{
                    background: #000232;
                    width: 323px;
                    padding: 10px 30px 8px;
                    margin: auto;
                    border-radius:5px ;
                  
                    .login-img{
                        width: 100px;
                        height: 100px;
                        background-image: url("../../assets/logo/logo1.jpg") ;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center center;
                        border-radius:50%;
                        margin: 0 auto;
                    }
                    p {
                        color: rgba(255, 255, 255, 0.5);
                        font-size: 14px;
                    }
                    .login-input{
                        display: flex;
                        font-size: 20px;
                        height: 40px;
                        border-bottom: 1px solid #b689b0;
                        margin: 5px 0 15px;
                        .login-input-icon{
                            align-items: center;
                            display: flex
                        }
                        input{
                            margin-left: 10px;
                            width: 100%;
                            outline: none;
                            border: none ;
                            background: transparent;
                            color: white;
                            font-size: 17px;
                        }
                    }
        
                    .btn-login{
                        width: 100%;
                        padding: 10px;
                        font-size: 18px;
                        background: #b689b0 ;
                        color: white;
                        border-radius: 5px;
                        cursor: pointer;
                        position: relative;
                        margin: 10px 0 20px;
                        .loading{
                            color: blue;
                            position: absolute;
                            bottom: 5px;
                            right: 30px;
                            animation: spinner 1s linear infinite;
                        }
                        @keyframes spinner {
                            from{
                                transform:translateY(-50%) rotate(0);
                            }
                            to {
                                transform:translateY(-50%) rotate(360deg);
                            }
                        }
                        .btn-messes{
                            position: absolute;
                            left: 15px;
                            bottom: -30px;
                            color: red;
                            font-size: 14px;

                        }
                    }
                    .login-forgot{
                        color: #b689b0;
                       .login-forgot-link{
                        float: right;
                        cursor: pointer;
                        margin: 8px;
                       }
                       .login-forgot-link:hover{
                        opacity: 0.6;
                      
                       }
                       .login-signup{
                        cursor: pointer;
                        margin: 8px;
                        float: left;
                       }
                       .login-signup:hover{
                        opacity: 0.6;
                       }
                    }
                    .login-login-icon{
                        font-size: 40px;
                        margin: 0 10px 10px;
                        display: flex;
                        align-content: center;
                        justify-content: space-evenly;
                        .login-login-icon-face{
                            border-radius: 50%;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                            cursor: pointer;
                        }
                        .login-login-icon-google{
                            border-radius: 50%;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;    
                            cursor: pointer;                  
                        }
                    }
               
                }
            }
        }
        
    }

}
@media(max-width: 767px) {
    .login-body{
        height: 100vh;
        
    
        .login-body-screen{
            background-image: url('../../assets/background/banner.jpg') ;
            display: flex;
            color: white ;
            text-align: center;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            height: 100%;
            overflow: hidden;
            .login-block{
                width: 70%;
                display: flex;
               margin: auto ;
                .login-content{
                    width: 0%;
                    height: 555px;
                    background-image: url('../../assets/background/content.jpg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                   
    
                }
                .login-container{
                    background: #000232;
                    width: 100%;
                    padding: 10px 30px 8px;
                    margin: auto;
                    border-radius:5px ;
                  
                    .login-img{
                        width: 100px;
                        height: 100px;
                        background-image: url("../../assets/logo/logo1.jpg") ;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center center;
                        border-radius:50%;
                        margin: 0 auto;
                    }
                    p {
                        color: rgba(255, 255, 255, 0.5);
                        font-size: 14px;
                    }
                    .login-input{
                        display: flex;
                        font-size: 20px;
                        height: 40px;
                        border-bottom: 1px solid #b689b0;
                        margin: 5px 0 15px;
                        .login-input-icon{
                            align-items: center;
                            display: flex
                        }
                        input{
                            margin-left: 10px;
                            width: 100%;
                            outline: none;
                            border: none ;
                            background: transparent;
                            color: white;
                            font-size: 17px;
                        }
                    }
        
                    .btn-login{
                        width: 100%;
                        padding: 10px;
                        font-size: 18px;
                        background: #b689b0 ;
                        color: white;
                        border-radius: 5px;
                        margin-top: 10px;
                        cursor: pointer;
                        .loading{
                            color: blue;
                            margin-top: 7px;
                            animation: spinner 1s linear infinite;
                        }
                        @keyframes spinner {
                            from{
                                transform:translateY(-50%) rotate(0);
                            }
                            to {
                                transform:translateY(-50%) rotate(360deg);
                            }
                        }
                    }
                    .login-forgot{
                        color: #b689b0;
                       .login-forgot-link{
                        float: right;
                        cursor: pointer;
                        margin: 8px;
                       }
                       .login-forgot-link:hover{
                        opacity: 0.6;
                      
                       }
                       .login-signup{
                        cursor: pointer;
                        float: left;
                       }
                       .login-signup:hover{
                        opacity: 0.6;
                       }
                    }
                    .login-login-icon{
                        font-size: 35px;
                        margin: 10px;
                        display: flex;
                        align-content: center;
                        justify-content: space-evenly;
                        .login-login-icon-face{
                            border-radius: 50%;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                            cursor: pointer;
                        }
                        .login-login-icon-google{
                            border-radius: 50%;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                            cursor: pointer;
                        }
                    }
               
                }
            }
        }
        
    }
}